@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import "_nullstyle";

.wrapper {
    min-height: 100%;
    overflow: hidden;
    font-family: 'Roboto Slab';
}
.container{
    max-width: 1150px;
    margin: 0 auto;
}
// ------------------ШАПКА-----------------------
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    width: 100%;
        &__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 50px;
            background-color: rgb(0, 0, 0);
            }
            &__logo{
                display: flex;
                align-items: center;
            }
            &__logo img {
                width: 49px;
                height: 40px;
                margin: 10px 15px 10px 25px
            }
            &__link {
                color: #fff;
                font-family: 'Roboto Slab';
                font-weight: 300;
                font-size: 20px;
                line-height: 1.4;
            }
            &__menu {
                
            }
}
.menu {

		&__list {
            display: flex;
            align-items: center;
            
		}

		&__item {
            margin: 0px 15px 2px 15px;
            &:last-child{
                margin: 0px 15px 0px 20px;
            }
            &:nth-child(4){
                margin: 20px 15px 0px 15px;
                padding: 0px 0px 15px 0px ;
                border-bottom: 8px solid rgba(23,52,68,1);
            }
            
        }

		&__link {
            font-family: 'Droid Sans';
            font-weight: 700;
            color: #fff;
            font-size: 16px;
            
		}
}
// -----------------PAGE--------------------------------
.page {
    
    &__block-main {
        
    }
}
.block-main {
    position: relative;
    top: 0;
    left: 0;
    min-height: 415px;
    &__container {
        
    }

    &__img {
        border-bottom: 8px solid rgba(23,52,68,1);
        background: url(../img/Flag_of_South_Korea.svg.png) center ;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
    }
    &__title{
        font-family: 'Roboto Slab';
        position: absolute;
        top: 47%;
        left: 36%;
        z-index: 20;
        font-size: 75px;
        font-weight: 300;
        letter-spacing: 2px;
    }
    
}

.hi {
    
    background-color: rgb(213, 216, 216);
    padding: 30px 0px 10px 0px ;
		&__row {
            display: flex;
            margin: 0px 0px 50px 0px ;
            
		}

        
		&__body {
            color: black;
            background-color: #fff;
            border: 1px solid rgb(241, 241, 241);
            width: 100%;
            height: 100%;
		}

		&__list li {
            font-size: 18px;
            line-height: 1.8;
            margin: 0px 0px 15px 0px;
            color:rgb(36, 35, 35);
            
		}

        &__image {
            flex: 0 0 100px;
        }
        &__image img{
            width:70% ;
            height:80px;
        }
        
        &__text{
            font-family: 'Droid Sans';
            font-size: 19px;
            padding: 10px 0px 70px 7px;
        }

        p:nth-child(1){
            padding: 10px 0px 23px 0px;
        }
        p:nth-child(2){
            padding: 0px 0px 0px 0px;
        }
        a{
            color: inherit;
            text-decoration: underline;
        }
        //---------------Карти----------------------
        
        &__container-map{
            padding: 0px 0px 100px 0px ;
        }
        
}
